
<h3>Directions:</h3>
<div>Find a photo with only your face that you would like to use for social media.  Copy the URL and paste it below. When you press submit, Microsoft Cognitive Services will analyze your emotions in the photo and so you can know how your photo is perceived by other people.  With this knowledge, you can better decide which photos could help to improve your image on social media.</div>
<input class = "inputclass" type="text" name="photo" ng-model="Image.ImageURL"><button class="deletebutton" ng-click="apiInfo()" >Submit The Photo!</button>