.jumbotron {
	background: url(https://static.pexels.com/photos/1191/camera-photography-vintage-lens.jpg) center no-repeat;
	background-size: cover; 

}

.jumbotron p{
	background-color: rgba(0, 0,0, .7);
	padding: 20px;
}

.picture-size {

  max-width: 30em;
  max-height: 30em;
  right-padding:0px;
}

.photo-size {
	max-width: 30em;
	max-height: 30em;
	left-padding: 20px;
}
 
.deletebutton{
	color: black;
}

.inputclass {
	width: 500px;
	margin-top: 20px;
}

.top {
	float: right;
	margin-top: 0px;
}

#hidethelink{
	text-decoration:none;
	color: white;
}